.icone{
    width: 50px;
    

}


.texto {
display: table-cell;
float: right;
width: 1300px;

}

.img{
    display: flex;
    justify-content: center;
    
}

.wpp{
    width: 5px;
    max-width: 100%;
}
