
    .container {
display: flex;
align-items: center;
justify-content: center;
height: 100vh;    
.container figure.wpp {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    box-shadow: 0 0 15px black;
    background-image: url(0x0ss-85.png);
}
}
 .icone {
    width: 50px;

}
.texto {
display: table-cell;
float: right;
width: 1400px;

}

